.form-button, .form-button:hover, .form-button:active  {
   color: black !important;
}

.form-button-save, .form-button-save:hover, .form-button-save:active  {
    color: #0d6efd !important;
 }
 
 .vh-20 {
    height: 20vh;
}

